body {
  margin: 0;
  font-family: HelveticaNeue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F7F7;
  width: calc(100vw - 34px);
  overflow-x: hidden;
}

code {
  font-family: HelveticaNeue;
}
